.mainBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.superInput {
    border: 2px solid green;
    background-color: lightcyan;
    color: midnightblue;
    margin-bottom: 15px;
    border-radius: 5px;
}

.errorInput {
    border: 2px solid red;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: small;
    font-weight: normal;
}
