.mainBlock {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    color: turquoise;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}